
.container{
  display: flex;
  clear:both;
}

#toc{
  min-width:150px;
  padding-right:15px;
}

#burger{
  display:none;
}


#footer{
  padding: 25px 50px 10px 50px;
  text-align:center;
}


@media screen and (min-width: 1400px){
  .container{
    width:1300px;
    position:relative;
    left:50%;
    top:0;
    margin-left:-700px;
  }
}
@media screen and (max-width: 700px) {
  #toc{
    display:none;
  }
  #toc ul{
    padding-left:0px;
  }
  #toc li{
    list-style:none;
  }
  #burger{
    display:block;
    position:absolute;
    top:10px;
    left:10px;
    width:30px;
    height:30px;
    padding:3px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position:center;
  }
}
